
@import "compass";
@import "compass/typography/vertical_rhythm";
@import "blueprint/typography";
@import "compass/css3/box-shadow";
@import "_mixins.scss";

$base-font-size: 24px;
$base-line-height: 1.5 * $base-font-size;

$blueprint-font-size: $base-font-size;
$blueprint-font-family: Georgia, serif;

// I like right aligned headings on the slides,
// change it so it isn't hard coded.
$slide-heading-align: right;

$header-color: #4682b4;

.deck-container {
    @include establish-baseline;
    @include blueprint-typography(true);
    h1, h2, h3, h4, h5, h6{
      font-family: Arial, sans-serif;
      color: $header-color;
    }

	background:#fff;
	
	.slide {
		background:#fff;
		
		h1 {
		}

		h2 {
			border-bottom-color: $quiet-color;
            text-align: $slide-heading-align;
		}

		h3 {
		}

		pre {
			border-color:$quiet-color;
		}

		code {
			color:#888;
		}

		blockquote {
            @include blockquote;
		}

		::-moz-selection{ background:#c00; color:#fff; }
		::selection { background:#c00; color:#fff; }

		a {
			&, &:hover, &:focus, &:active, &:visited {
				color:$link-color;
			}

			&:hover, &:focus {
                color: lighten($link-color, 20%);
				text-decoration:underline;
			}
		}
	}
	
	> .slide {
		.deck-before, .deck-previous {
			opacity:0.4;
			
			&:not(.deck-child-current) {
				.deck-before, .deck-previous {
					opacity:1;
				}
			}
		}
		
		.deck-child-current {
			opacity:1;
		}
	} 
	
	.deck-prev-link, .deck-next-link {
		background:#ccc;
		font-family:serif; // sans-serif arrows x-browser fail
		
		&, &:hover, &:focus, &:active, &:visited {
			color:#fff;
		}
		
		&:hover, &:focus {
			background:#c00;
			text-decoration:none;
		}
	}
	
	.deck-status {
		font-size:0.6666em;
	}
	
	&.deck-menu {
		.slide {
			background:#eee;
		}
		
		.deck-current, .no-touch & .slide:hover {
			background:#ddf;
		}
	}

    // This is the end of the stuff from the swiss theme.
    // Make my own now.

    // Speaker info div
    div.speaker-info{
        @include speakerinfo;
    }

    // some rules for positioning
    div.small-left{
        @include smallleft;
    }

    div.large-left{
        @include largeleft;
    }

    div.small-right{
        @include smallright;
    }

    div.large-right{
        @include largeright;
    }

}
