/* line 20, sass/dataewan.scss */
.deck-container {
  line-height: 1.5;
  font-family: Georgia, serif;
  color: #333333;
  font-size: 150%;
  background: #fff;
}
/* line 61, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
.deck-container * html {
  font-size: 150%;
}
/* line 64, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
.deck-container html {
  font-size: 24px;
  line-height: 1.5em;
}
/* line 51, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container h1, .deck-container h2, .deck-container h3, .deck-container h4, .deck-container h5, .deck-container h6 {
  font-weight: normal;
  color: steelblue;
}
/* line 52, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container h1 img, .deck-container h2 img, .deck-container h3 img, .deck-container h4 img, .deck-container h5 img, .deck-container h6 img {
  margin: 0;
}
/* line 53, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.deck-container a:visited {
  color: #004c99;
}
/* line 21, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.deck-container a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.deck-container a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.deck-container a:active {
  color: #bf00ff;
}
/* line 63, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container strong, .deck-container dfn {
  font-weight: bold;
}
/* line 65, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container em, .deck-container dfn {
  font-style: italic;
}
/* line 66, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container sup, .deck-container sub {
  line-height: 0;
}
/* line 67, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container abbr, .deck-container acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container del {
  color: #666666;
}
/* line 70, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container pre, .deck-container code, .deck-container tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container li ul, .deck-container li ol {
  margin: 0;
}
/* line 73, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container ul, .deck-container ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container ul {
  list-style-type: disc;
}
/* line 75, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container ol {
  list-style-type: decimal;
}
/* line 76, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container dl dt {
  font-weight: bold;
}
/* line 78, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container dd {
  margin-left: 1.5em;
}
/* line 79, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container th {
  font-weight: bold;
}
/* line 81, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container thead th {
  background: #c3d9ff;
}
/* line 82, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container th, .deck-container td, .deck-container caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container table.striped tr:nth-child(even) td,
.deck-container table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container tfoot {
  font-style: italic;
}
/* line 87, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container caption {
  background: #eeeeee;
}
/* line 88, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container .quiet {
  color: #666666;
}
/* line 89, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.deck-container .loud {
  color: #111111;
}
/* line 23, sass/dataewan.scss */
.deck-container h1, .deck-container h2, .deck-container h3, .deck-container h4, .deck-container h5, .deck-container h6 {
  font-family: Arial, sans-serif;
  color: steelblue;
}
/* line 30, sass/dataewan.scss */
.deck-container .slide {
  background: #fff;
}
/* line 36, sass/dataewan.scss */
.deck-container .slide h2 {
  border-bottom-color: #666666;
  text-align: right;
}
/* line 44, sass/dataewan.scss */
.deck-container .slide pre {
  border-color: #666666;
}
/* line 48, sass/dataewan.scss */
.deck-container .slide code {
  color: #888;
}
/* line 52, sass/dataewan.scss */
.deck-container .slide blockquote {
  font-style: normal;
  font-size: 31.2px;
  padding: 24px;
  margin-top: 0px;
  padding-top: 0px;
  -webkit-box-shadow: 3px 3px 2px #999999;
  -moz-box-shadow: 3px 3px 2px #999999;
  box-shadow: 3px 3px 2px #999999;
  color: #111111;
}
/* line 10, sass/_mixins.scss */
.deck-container .slide blockquote p {
  margin: 0;
}
/* line 14, sass/_mixins.scss */
.deck-container .slide blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888;
}
/* line 56, sass/dataewan.scss */
.deck-container .slide ::-moz-selection {
  background: #c00;
  color: #fff;
}
/* line 57, sass/dataewan.scss */
.deck-container .slide ::selection {
  background: #c00;
  color: #fff;
}
/* line 60, sass/dataewan.scss */
.deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
  color: #0066cc;
}
/* line 64, sass/dataewan.scss */
.deck-container .slide a:hover, .deck-container .slide a:focus {
  color: #3399ff;
  text-decoration: underline;
}
/* line 72, sass/dataewan.scss */
.deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
  opacity: 0.4;
}
/* line 76, sass/dataewan.scss */
.deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}
/* line 82, sass/dataewan.scss */
.deck-container > .slide .deck-child-current {
  opacity: 1;
}
/* line 87, sass/dataewan.scss */
.deck-container .deck-prev-link, .deck-container .deck-next-link {
  background: #ccc;
  font-family: serif;
}
/* line 91, sass/dataewan.scss */
.deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
  color: #fff;
}
/* line 95, sass/dataewan.scss */
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
  background: #c00;
  text-decoration: none;
}
/* line 101, sass/dataewan.scss */
.deck-container .deck-status {
  font-size: 0.6666em;
}
/* line 106, sass/dataewan.scss */
.deck-container.deck-menu .slide {
  background: #eee;
}
/* line 110, sass/dataewan.scss */
.deck-container.deck-menu .deck-current, .no-touch .deck-container.deck-menu .slide:hover {
  background: #ddf;
}
/* line 119, sass/dataewan.scss */
.deck-container div.speaker-info {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 36px;
  font-size: 18px;
}
/* line 124, sass/dataewan.scss */
.deck-container div.small-left {
  width: 20%;
  float: left;
}
/* line 128, sass/dataewan.scss */
.deck-container div.large-left {
  width: 80%;
  float: left;
}
/* line 132, sass/dataewan.scss */
.deck-container div.small-right {
  width: 20%;
  float: right;
}
/* line 136, sass/dataewan.scss */
.deck-container div.large-right {
  width: 80%;
  float: right;
}
