@mixin blockquote{
  font-style: normal;
  font-size: $base-font-size * 1.3;
  padding: $base-font-size;
  margin-top: 0px;
  padding-top: 0px;
  @include single-box-shadow(lighten($quiet-color, 20%), 3px, 3px, 2px, $default-box-shadow-spread, $default-box-shadow-inset);
  @include loud();

  p {
      margin:0;
  }

  cite {
      font-size:.5em;
      font-style:normal;
      font-weight:bold;
      color:#888;
  }
}

@mixin speakerinfo{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: $base-line-height;
    font-size: 0.75 * $base-font-size;
}

@mixin smallleft{
    width: 20%;
    float: left;
}

@mixin largeleft{
    width: 80%;
    float: left;
}

@mixin smallright{
    width: 20%;
    float: right;
}

@mixin largeright{
    width: 80%;
    float: right;
}

